extends ../_inc/_page
block append vars
  - var title = 'page1'

block contents
  h1 page1
  button.c-btn test 
  p.btn-count hello
  .img-box
      img(src="/assets/images/mountain.jpg", alt="画像")
      img(src="/assets/images/sea.jpg", alt="写真")